# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dXNhYmxlLWJhc3MtNDIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_PLaiy8T762kZcKiJkQIWjcsrzt4ljFrKjslMSrRP4X
CLERK_WEBHOOK_SECRET=whsec_...

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:8080/app
